{% extends "base.html" %}
{% load static %}

{% block title %}Crear Contacto{% endblock %}

{% block content %}
<main class="min-vh-100 d-flex align-items-center gato-bg">
    <div class="container rounded-3 d-flex flex-column align-items-center">
        <h1 class="bg-light d-inline-block fw-bold fs-3 rounded-5 ps-5 pe-5 pt-2 pb-2 m-0 title-box" style="border: 4px solid #DFDFDF; color: #0170ab;"><i class="fa-solid fa-plus me-2"></i>REGISTRAR CONTACTO</h1>
        <a class="rounded add-button text-decoration-none fw-medium mt-3 mb-3" style="padding: 6px 9px;" href="{% url 'listar-contactos' %}"><i class="fa-solid fa-magnifying-glass me-2"></i>Lista de Contactos</a>

        <div class="form-container">
            <form method="post" class="d-flex flex-column pt-5 pb-5 ps-4 pe-4 rounded" style="background-color: #F8F8F8;">
                {% csrf_token %}
                <div class="text-center pb-4">
                    <img src="{% static 'imgs/Gato-gif.gif' %}" style="width: 30%;">
                </div>
                <div class="d-flex gap-3">
                    <div class="w-50">
                        <label class="mb-0 form-label fw-bold" for="nombre">Nombre:</label>
                        <input class="mb-3 form-control" type="text" name="nombre" maxlength="50" required>
                    </div>
                    <div class="w-50">
                        <label class="mb-0 form-label fw-bold" for="alias">Alias:</label>
                        <input class="mb-3 form-control" type="text" name="alias" maxlength="50">
                    </div>
                </div>

                <div class="d-flex gap-3">
                    <div class="w-50">
                        <label class="mb-0 form-label fw-bold" for="apellidoPaterno">Apellido Paterno:</label>
                        <input class="mb-3 form-control" type="text" name="apellidoPaterno" maxlength="50" required>
                    </div>
                    <div class="w-50">
                        <label class="mb-0 form-label fw-bold" for="apellidoMaterno">Apellido Materno:</label>
                        <input class="mb-3 form-control" type="text" name="apellidoMaterno" maxlength="50">
                    </div>
                </div>

                <div class="d-flex gap-3 ">
                    <div class="w-50">
                        <label class="mb-0 form-label fw-bold" for="relacion">Relación:</label>
                        <select class="form-select" name="relacion" id="relacion" required>
                            <option value="">Tipo de Relación</option>
                            {% for relacion in relaciones %}
                                <option value="{{ relacion.id }}">{{ relacion.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-50">
                        <label class="mb-0 form-label fw-bold" for="telefono">Teléfono:</label>
                        <input class="mb-3 form-control" type="tel" name="telefono" maxlength="10" minlength="10" pattern="^[0-9]{10}$" required>
                    </div>
                </div>

                <label class="mb-0 form-label fw-bold" for="correo">Correo Electrónico:</label>
                <input class="mb-5 form-control" type="email" name="correo" maxlength="254">

                {% if messages %}
                    {% for message in messages %}
                        <div class="mb-2 text-center" style="color: red;">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <button type="submit" style="background-color: #009ced; border: 3px solid #22acf6" class="btn btn-primary fw-bold btn-save">Guardar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}