{% extends 'base.html' %}
{% block title %}Listar Contactos{% endblock %}

{% block content %}
<main class="vh-100 d-flex align-items-center" style="background: linear-gradient(135deg, #111217 0%, #05173b 30%, #111217 90%)">
    <div class="container rounded-3" style="background-color: rgb(6,41,107, 0.5)">
        <div class="table-responsive shadow-sm rounded mt-3">
            <table class="table table-striped table-hover align-middle w-100 mt-0">
                <thead style="background-color: #111217;">
                    <th class="fw-normal">Nombre</th>
                    <th class="fw-normal">Primer Apellido</th>
                    <th class="fw-normal">Segundo apellido</th>
                    <th class="fw-normal">Alias</th>
                    <th class="fw-normal">Relación</th>
                    <th class="fw-normal">Teléfono</th>
                    <th class="fw-normal">Correo</th>
                    <th class="fw-normal"></th>
                </thead>
                <tbody>
                    {% for contacto in contactos %}
                    <tr>
                        <td>{{ contacto.nombre|title }}</td>
                        <td>{{ contacto.primerApellido|title }}</td>
                        <td>{{ contacto.segundoApellido|title }}</td>
                        <td>{{ contacto.alias|title }}</td>
                        <td>{{ contacto.relacion|title }}</td>
                        <td>{{ contacto.telefono|title }}</td>
                        <td>{{ contacto.correo|lower }}</td>
                        <td><i class="bi bi-pen-fill"></i><i class="bi bi-trash3-fill"></i></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center text-white fw-bold p-3" style="background-color: #2d2e30;">No hay contactos disponibles</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}